@font-face {
    font-family: 'Pretendard';
    src: url('../../assets/font/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../../assets/font/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ZillaSlab';
    src: url('../../assets/font/ZillaSlab-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Abel';
    src: url('../../assets/font/Abel-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}