@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

.loader {
  width: 60px;
  aspect-ratio: 1;
  --g: conic-gradient(from -90deg at 10px 10px,#000 90deg,#0000 0);
  background: var(--g), var(--g), var(--g);
  background-size: 50% 50%;
  animation: l19 1s infinite;
}

@keyframes l19 {
   0%   {background-position:0     0, 10px 10px, 20px 20px}
   33%  {background-position:10px  10px}
   66%  {background-position:0    20px,10px 10px,20px 0   }
   100% {background-position:0     0, 10px 10px, 20px 20px}
}

/* Chrome, Safari 등 WebKit 기반 브라우저 대응 */
.customScrollBar::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

/* Firefox 등 표준 속성 대응 */
@supports (scrollbar-color: auto) {
  .customScrollBar {
    scrollbar-width: thin;
    scrollbar-color: white transparent;
  }
}