@use '../css/config/color.scss' as color;

@keyframes toBlurOpacity {
    0% {
        filter: blur(0px) opacity(1);
    }

    50% {
        filter: blur(0px) opacity(1);
    }

    100% {
        filter: blur(6px) opacity(0);
    }
}

@keyframes fromBlurOpacity {
    0% {
        filter: blur(6px) opacity(0);
    }

    50% {
        filter: blur(0px) opacity(1);
    }

    100% {
        filter: blur(0px) opacity(1);
    }
}

@keyframes toBlurOpacityScale {
    0% {
        filter: blur(0px) opacity(1);
        transform: scale(0.1);
    }

    70% {
        filter: blur(6px) opacity(0);
        transform: scale(1);
    }

    100% {
        filter: blur(6px) opacity(0);
        transform: scale(1);
    }
}

@keyframes fromBlurOpacityScale {
    0% {
        filter: blur(6px) opacity(0);
        transform: scale(1);
    }

    30% {
        filter: blur(0px) opacity(1);
        transform: scale(0.1);
    }

    100% {
        filter: blur(0px) opacity(1);
        transform: scale(0.1);
    }
}

@keyframes openMenuBG {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes closeMenuBG {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes menuListfadeInUp {
    from {
        transform: translateY(3rem);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes menuListfadeOutDown {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(3rem);
    }
}

@keyframes menuNameBlur {
    0% {
        filter: blur(0px);
    }

    50% {
        filter: blur(2px)
    }

    100% {
        filter: blur(0px);
    }
}

@keyframes menuNameParentBlur {
    0% {
        filter: contrast(0);
    }

    50% {
        filter: contrast(200) blur(0.1px);
    }

    100% {
        filter: contrast(0) blur(0.1px);
    }
}

@keyframes menuNameParentBlur {
    0% {
        filter: contrast(0);
    }

    50% {
        filter: contrast(200) blur(0.1px);
    }

    100% {
        filter: contrast(0) blur(0.1px);
    }
}

header {
    width: 96vw;
    height: 48px;
    padding: 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr 8fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    border-width: 0 0 1px 0;
    border-color: rgba(255, 255, 255, 0);
    border-style: solid;
    cursor: auto;
    backdrop-filter: blur(15px);
    transition: border-color 0.5s ease;

    &.isScroll {
        border-color: rgba(0, 0, 0, 1);
    }

    // &.default {
    //     animation: menuNameParentBlur 1s ease-in-out;

    //     .menu-name p {
    //         animation: menuNameBlur 1s ease-in-out;
    //     }
    // }

    // &.change {
    //     animation: menuNameParentBlur 1s ease-in-out;

    //     .menu-name p {
    //         animation: menuNameBlur 1s ease-in-out;
    //     }
    // }

    .logo {
        display: flex;
        justify-content: center;
    }

    .menu-name {
        font-weight: 700;
        text-align: center;
        user-select: none;
        text-transform: uppercase;
    }

    .contact {
        display: inline-block;
        width: fit-content;
        height: fit-content;
        font-weight: 700;
        position: relative;
        text-align: center;

        &::after {
            content: '';
            position: absolute;
            display: flex;
            width: 0%;
            height: 2px;
            background-color: color.$black;
            transition: 0.2s ease-in-out;
        }

        &:hover {
            &::after {
                width: 100%;
            }
        }
    }

    .dimmed {
        transition: 0.3s ease;
        visibility: hidden;
        opacity: 0;
        background: rgba(0, 0, 0, 0.5);
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;

        &.close {
            visibility: visible;
            opacity: 1;
            //animation: dimmedOpacity 0.3s ease;
        }
    }

    .menuButton {
        width: 3rem;
        height: 3rem;
        transition: 0.3s ease-in-out;
        padding: 0;
        position: relative;
        z-index: 1;
        cursor: pointer;

        svg {
            width: 100%;
            height: 100%;
        }

        .menuOpen,
        .menuClose {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        .menuOpen {
            opacity: 1;
            width: 100%;
            height: 100%;
            display: flex;
            gap: 0.5rem;
            align-items: center;
            justify-content: center;
            transition: 0.3s ease-in-out;

            li {
                transition: 0.3s ease-in-out;
                width: 8px;
                height: 8px;
                border-radius: 1rem;
                background-color: color.$black;
            }
        }

        .menuClose {
            transition: 0.3s ease-in-out;
            opacity: 0;
        }
    }

    .menuButton.close {
        .menuOpen {
            animation: toBlurOpacity 0.3s ease-in-out;

            li:first-child {
                transform: translateX(16px);
            }

            li:last-child {
                transform: translateX(-16px);
            }
        }

        .menuClose {
            animation: toBlurOpacityScale 0.3s ease-in-out;
            opacity: 1;
        }
    }

    .menuButton.open {
        .menuOpen {
            animation: fromBlurOpacity 0.3s ease-in-out;

            li:first-child {
                transform: translateX(0);
            }

            li:last-child {
                transform: translateX(0);
            }
        }

        .menuClose {
            animation: fromBlurOpacityScale 0.3s ease-in-out;
        }
    }

    .innerMenu {
        width: 50vw;
        height: 100vh;
        background-color: color.$white;
        transition: 0.3s ease-in-out;
        position: absolute;
        top: 0;
        right: -100%;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 3rem;
        font-size: 3rem;
        text-transform: uppercase;

        li {
            overflow: hidden;
            position: relative;
            width: fit-content;

            a {
                display: inline-block;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                display: flex;
                width: 0%;
                height: 2px;
                background-color: color.$black;
                transition: 0.2s ease-in-out;
            }

            &:hover {
                &::after {
                    width: 100%;
                }
            }
        }

        // 메뉴창 클릭(열렸을 때)
        &.close {
            right: 0;

            li {

                // 순서대로 등장
                @for $i from 1 through 4 {
                    &:nth-child(#{$i}) a {
                        animation: menuListfadeInUp 0.5s forwards;
                        animation-delay: $i * 0.1s;
                    }
                }
            }
        }

        // 메뉴창 클릭(닫았을 때)
        &.open {
            right: -100%;
        }
    }
}

.index-floatNum {
    transition: 0.3s ease-in-out;
    width: fit-content;
    transform: rotate(90deg);
    position: fixed;
    left: 2vw;
    bottom: 6vw;
    font-size: 10rem;
    font-weight: 700;
    font-family: 'Abel';
    letter-spacing: -6px;
    color: color.$black;

    &.white {
        color: color.$white;
    }
}