@use '../css/config/color.scss' as color;

.index {}

.scrollSection {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.scrollSection.main {
    background-color: #ddd;

    .main-title {
        font-family: 'ZillaSlab';
        font-weight: 700;
        position: absolute;
        z-index: 1;
    }

    .bottomSec-ani-text {
        font-size: 5vw;
    }

    .bottomSec-ani-job {
        font-family: 'ZillaSlab';

        .cover {
            overflow: hidden;
        }
    }
}

.scrollSection.skills {
    // background-color: rgba(0, 0, 0, 0);

    // &.onSkills {
    //     background-color: rgba(0, 0, 0, 1);
    // }

    .contents {
        width: 70vw;
        margin-top: calc(4vw + 48px);
        margin-left: 30vw;
        height: calc(100vh - 4vw - 48px);
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto auto;
        padding: 4rem 0;

        li {
            grid-column: span 1;
            transition: 0.2s;
            border-style: solid;
            border-width: 1px 0 0 0;
            border-color: #000;
            position: relative;
            background-color: color.$white;

            &::after {
                transition: 0.2s;
                content: "";
                position: absolute;
                top: -1.5rem;
                left: 0;
                width: 8rem;
                height: 1.5rem;
                border-radius: 0.5rem 1rem 0 0;
                border-width: 1px 1px 0 1px;
                border-color: #000;
                border-style: solid;
                background-color: color.$white;
            }

            b {
                font-size: 1.5rem;
            }

            p {
                padding-top: 0.5rem;
                padding-left: 1.5rem;
                position: relative;

                &::after {
                    content: "";
                    width: 4px;
                    height: 1px;
                    background-color: #000;
                    border-radius: 1rem;
                    position: absolute;
                    top: 10px;
                    left: 0.5rem;
                    transform: translateY(6px);
                }
            }

            section {
                padding: 1rem;
            }

            &:last-child {
                border-width: 1px 0;
            }
        }
    }
}

.scrollSection.works {
    justify-content: flex-end;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #000;

    .title {
        position: absolute;
        top: 15vw;
        left: 7vw;
        font-family: 'Akira';
        color: color.$white;

        section {
            overflow: hidden;
        }

        .my {
            color: transparent;
            -webkit-text-stroke: 1px #fff;
        }

        .works {}
    }

    .contents {
        width: 70vw;
        height: 70vh;
        padding: 1rem;
        box-sizing: border-box;
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    article {
        max-width: 300px;
        width: calc((100% - 2rem)/ 2);
        height: calc((100% - 2rem)/ 2);
        background-color: #fff;
        padding: 1rem;
        box-sizing: border-box;
        border-radius: 2rem;
    }
}


.scrollSection.contact {
    padding: 4vw;
    box-sizing: border-box;

    .title {
        font-family: "Akira";
        font-size: 7vw;

        section {
            overflow: hidden;
            font-size: 7vw;
        }

        .line {
            width: calc(100% - 18vw);
            height: 2px;
            background-color: #000;
            transform-origin: left;
        }

        .contact {
            -webkit-text-stroke: 1px #000000;
            color: #fff;
        }

        .me {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    ul {
        display: flex;
        gap: 2rem;
        font-size: 1.5rem;
        flex-direction: column;
        align-items: flex-end;
        text-align: center;
        margin-top: 10vw;

        .logos {
            button {
                width: 40px;
                height: 40px;
                background-size: cover;
                margin: 0.5rem;
                padding: 0;
            }

            .logo_github {
                background-image: url('../assets/image/github.png');
            }

            .logo_blog {
                background-image: url('../assets/image/velog.webp');
            }
        }
    }
}